@import "tailwindcss";
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css'); */

:root {
  --font-pacifico: 'Pacifico', cursive;
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  font-family: var(--font-geist-sans);
}
